body {
    background-color: #201f27;
    margin: 0px;
    padding: 0px;
}

ul {
    background-color: #201f27;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}
li {
    float: left;

    a {
        display: block;
        padding: 16px;
        color: white;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    a:hover {
        background-color: #0d0c0f;
        cursor: pointer;
    }
}

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 30px;
    color: white;
    padding-top: 200px;
    margin-bottom: 200px;
    
    h1 {
        font-size: 400%;
        margin-bottom: 10px;
    }
    .secondary {
        font-size: 150%;
    }
}

.html {
    padding: 10px;
    background-color: #e6b5a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 600px;
}
.css {
    padding: 10px;
    background-color: #9bb5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 600px;
}

.div-a {
    margin-top: 70px;
    text-align: center;
    float: left;
    padding: 15px;
    padding-left: 20%;
    width: 300px;

    h1 {
        font-size: 600%;
        margin-bottom: 10px;
    }
    span {
        font-size: 120%;
    }
}
.div-b {
    float: left;
    background-color: #dddddd;
    padding: 20px;
    margin-top: 100px;
    margin-left: 10%;
    border-radius: 10px;

    b {
        font-size: 130%;
    }
    div {
        margin-top: 10px;
        background-color: white;
        width: 350px;
        border-left: 5px solid #04aa6d;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: 120%;

        .gray {
            color: #888888;
        }
        .purple {
            color: darkmagenta;
        }
        .orange {
            color: chocolate;
        }
        .blue {
            color: dodgerblue;
        }
    }
}

button {
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}
button:hover {
    background-color: #049c65;
    cursor: pointer;
}

@media (max-width: 1070px) {
    .html {
        height: 1000px;
    }
    .css {
        height: 1000px;
    }

    .div-a {
        float: none;
        margin-top: 20px;
        margin: auto;
        width: 90%;
        padding-left: 0;
    }
    .div-b {
        float: none;
        margin-top: 0px;
        margin: auto;
        width: 90%;

        div {
            width: calc(100% - 15px);
        }
    }
}

@media (max-width: 600px) {
    .main .secondary {
        font-size: 120%;
    }
}