body {
    background-color: #201f27;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#self-a {
    display: block;
    padding: 12px;
    background-color: #dddddd;
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#self-a:hover {
    background-color: #dddddd;
    color: inherit;
}

#top {
    background-color: #201f27;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}
#top li {
    float: left;

    a:not(#self-a) {
        display: block;
        padding: 12px;
        color: white;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    a:hover:not(#self-a:hover) {
        background-color: #0d0c0f;
        cursor: pointer;
    }
}

#left {
    background-color: #dddddd;
    position: fixed;
    top: 45px;
    left: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    overflow: scroll;
    width: 250px;
    height: 100%;
}
#left li {
    float: top;

    a {
        display: block;
        padding: 5px;
        padding-left: 20px;
        color: black;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    a:hover:not(#self-b:hover) {
        background-color: #d6d6d6;
        color: black;
        cursor: pointer;
    }
}
#self-b {
    font-weight: bold;
    background-color: #cccccc;
}
#self-b:hover {
    background-color: #bbbbbb;
}

#main {
    margin-left: 250px;
    padding: 10px;
    padding-top: 300px;
    padding-left: 20px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
section {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-weight: 400;
    font-size: xxx-large;
}
h2 {
    font-weight: 400;
    font-size: xx-large;
}
h3 {
    font-weight: 400;
    font-size: x-large;
}

.previous {
    float: left;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.next {
    float: right;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

    border: 1px solid #04aa6d;
    border-radius: 5px;
    background-color: #04aa6d;

    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.previous:hover {
    background-color: #eeeeee;
    color: black;
}
.next:hover {
    background-color: #049c65;
    color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: #dddddd;
}

.example {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.example-title {
    font-size: x-large;
}
.example div:not(.result) {
    margin-top: 10px;
    background-color: white;
    border-left: 5px solid #04aa6d;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 120%;
    line-height: normal;
}

.result-btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

    border: 1px solid #04aa6d;
    border-radius: 5px;
    background-color: #04aa6d;

    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.result-btn:hover {
    background-color: #049c65;
    cursor: pointer;
}

.result {
    display: none;
}

.code {
    background-color: #eeeeee;
    border-radius: 2px;
    color: crimson;
    font-size: large;

    padding-left: 3px;
    padding-right: 3px;
}

.note {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(230, 230, 174);
}

table {
    margin-top: 25px;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
}
tr {
    border: 1px solid #bbbbbb;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
td, th {
    padding: 10px;
}
th {
    padding-top: 8px;
    padding-bottom: 8px;
}

a {
    color: black;
}
a:hover {
    color: #049c65;
}

iframe {
    width: calc(100% - 5px);
    height: 300px;

    background-color: white;
    border: 3px solid #bbbbbb;
}

footer {
    margin-left: 250px;
    padding: 50px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6;
}
footer span {
    font-size: large;
}
#footerl {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
#footerl li {
    margin: 0;
    padding: 0;
}
#footerl li a {
    margin: 0;
    padding: 0;
    display: block;
    font-size: small;
    color: white;
    text-decoration: none;
}
#footerl li a:hover {
    color: chocolate;
}

[id] {
    scroll-margin-top: 65px;
}

@media (max-width: 750px) {
    #left {
        visibility: hidden;
    }
    #main {
        margin-left: 0px;
    }
}